.inline-block {
  display: inline-block;
}

#left, #right {
  width: 49.5%;
  height: 100%;
}

#right {
  float: left;
}

#left {
  float: right;
}

#task-list {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

ul div {
  word-wrap: break-word;
}

#task-list ul, #done-tasks ul {
  margin: 0;
}


#calendar-container {
  margin: auto;
  padding: 0 50px;
  width: 100%;
  height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
}

#task-menu {
  margin-bottom: 10px;
}

#done-tasks {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.info {
  opacity: 0.5;
  text-align: center;
}

#chosen-date {
  text-align: center;
}