html {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

html, body {
  height: 100%;
  min-height: 500px;
}

body {
  padding-top: 50px;
}

.logo {
  height: 50px;
  margin-top: -15px;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.wrapper {
  width: 700px;
  height: 100%;
  margin: auto;
}