.form-reg-log {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  margin-top: 40px;
}

.form-reg-log .form-control {
  height: auto;
  padding: 10px;
  font-size: 16px;
}

p {
  color: #fff;
  max-width: 200px;
  margin-bottom: 0;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.btn-lg {
  width: 100%;
}