h2 {
  margin-top: 0;
}

.timestamp {
  color: #aaa;
  line-height: 24px;
}

.parts {
  vertical-align: top;
  display: inline-block;
}

.right {
  float: right;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

img.center {
  display: block;
  margin: auto;
  max-width: 100%;
  height: auto;
}

.content {
  white-space: pre-line;
}

.edit-post {
  margin-top: 10px;
}

.form-inside {
  margin: -11px;
  border-radius: 0;
  width: 100%;
}

.delete-img, .new-img {
  margin-bottom: 3px;
}

.img {
  padding: 3px;
}

.what-show .btn-group {
  width: 100%;
}

.what-show .btn-group button {
  width: 16.78%;
}
