{% extends 'layout.html' %}

{% block content %}

  <script type="text/javascript" src="{{ url_for('.static', filename='js/calendar.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('.static', filename='js/calendar-handler.js') }}"></script>

  <div class="wrapper">
    <div id="left" class="inline-block block">
      <div class="part">
        <div id="calendar-container">

        </div>
      </div>

      <div class="part">
        <h4 id="chosen-date">Completed tasks at <strong></strong></h4>

        <div id="done-tasks">
          <ul class="list-group">

          </ul>
        </div>
      </div>

    </div>
    <div id="right" class="inline-block block">

      <div class="part">
        <h4>Your current tasks:</h4>

        <div id="task-list">
          <ul class="list-group">
            {% for task in tasks %}
              <div class="thing" id="task-{{ task.id }}">
                <div class="btn-group">
                  <button class="show btn btn-default btn-xs"><span class="glyphicon glyphicon-eye-open"></span>
                  </button>
                  <button class="complete btn btn-default btn-xs"><span class="glyphicon glyphicon-ok"></span>
                  </button>
                  <button class="delete btn btn-default btn-xs"><span class="glyphicon glyphicon-remove"></span>
                  </button>
                </div>
                <div class="text">{{ task.content }}</div>
              </div>
            {% endfor %}
          </ul>
        </div>
      </div>

      <div class="part">
        <form id="new-task" type="POST" enctype="multipart/form-data">
          <div class="form-group">
          <textarea name="task" class="form-control" rows="2" style="resize: none;"
                    placeholder="Enter new task"></textarea>
          </div>
          <input type="submit" class="btn btn-default inline-block" value="Add">
        </form>
      </div>

    </div>
  </div>



{% endblock %}