<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="shortcut icon" href="{{ url_for('.static', filename='used_img/favicon.png') }}" type="image/png">

  <title>{{ title }}</title>

  <link href="{{ url_for('.static', filename='css/usebootstrap.css') }}" rel="stylesheet">
  <link href="{{ url_for('.static', filename='css/layout.css') }}" rel="stylesheet">

  {% for style in styles %}
    <link href="{{ url_for('.static', filename=style) }}" rel="stylesheet">
  {% endfor %}

  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <script src="{{ url_for('.static', filename='js/text-handler.js') }}"></script>
  <script src="{{ url_for('.static', filename='js/input-file-handler.js') }}"></script>
  <script src="{{ url_for('.static', filename='js/modal.js') }}"></script>

</head>

<body>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">


      <a class="navbar-brand" href="#">
        <img class="logo" src="{{ url_for('.static', filename=image) }}">
      </a>
    </div>
    <div>
      <ul class="nav navbar-nav navbar-left">

        {% if g.user.is_authenticated %}
          <li><a href="{{ url_for('posts') }}">Notes</a></li>
          <li><a href="{{ url_for('calendar') }}">Tasks</a></li>
        {% endif %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if g.user.is_authenticated %}
          <li><a href="#">{{ g.user.username }}</a></li>
          <li><a href="{{ url_for('logout') }}">Logout</a></li>
        {% else %}
          {% if request.path == '/login/' %}
            <li><a href="{{ url_for('register') }}">Sign up</a></li>
          {% else %}
            <li><a href="{{ url_for('login') }}">Sign in</a></li>
          {% endif %}
        {% endif %}
      </ul>
    </div>
  </div>
</nav>

{% block content %}
{% endblock %}

<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="{{ url_for('.static', filename='js/bootstrap.min.js') }}"></script>

<button class="overlay" hidden="true"></button>
<div class="modal" hidden="true">
  <div class="block">
    <div class="part">
      <button class="close-modal btn btn-default btn-xs"><span class="glyphicon glyphicon-remove"></span></button>
      <h4>A motivational quote</h4>
      <div class="text"></div>
      <div class="author"></div>
    </div>
  </div>
</div>

</body>
</html>
