{% extends 'layout.html' %}

{% block content %}
  <div class="container">

    <form class="form-reg-log" role="form" method="post" action="/login/">
      <h2>Please sign in</h2>

      <label for="inputUsername" class="sr-only">Username</label>
      <input name="username" type="text" id="inputUsername" class="form-control"
             placeholder="Username or email" autofocus>

      <div class="collapse bg-danger" id="errorUsername">
        <p>Message</p>
      </div>

      <label for="inputPassword" class="sr-only">Password</label>
      <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password">

      <button class="btn btn-lg btn-primary" type="submit">Sign in</button>
    </form>

  </div>

  <script src="{{ url_for('.static', filename='js/log-reg-validate.js') }}"></script>

{% endblock %}