<div id="post-{{ post.id }}" class="post-container block">
  <div class="post top container part">
    <div class="inform parts">
      <div class="timestamp small">
        {{ post.timestamp }}
      </div>
    </div>
    <div id="buttons" class="parts right">
      <div class="change-rank btn-group">
        <button class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false"></button>
        <ul class="dropdown-menu">
          <li {% if post.rank == 0 %}class="active"{% endif %}><a href="0">
            {{ ranks[0] }}
          </a></li>
          <li {% if post.rank == 1 %}class="active"{% endif %}><a href="1">
            {{ ranks[1] }}
          </a></li>
          <li {% if post.rank == 2 %}class="active"{% endif %}><a href="2">
            {{ ranks[2] }}
          </a></li>
          <li {% if post.rank == 3 %}class="active"{% endif %}><a href="3">
            {{ ranks[3] }}
          </a></li>
          <li {% if post.rank == 4 %}class="active"{% endif %}><a href="4">
            {{ ranks[4] }}
          </a></li>
          <li {% if post.rank == 5 %}class="active"{% endif %}><a href="5">
            {{ ranks[5] }}
          </a></li>
        </ul>
      </div>
      <input type="button" class="btn btn-default btn-xs edit" value="Edit">
      <input type="button" class="btn btn-default btn-xs delete" value="Delete">
    </div>
  </div>


  {% if post.content != "" %}
    <div class="content part" data-text="{{ post.content }}">{{ post.content }}</div>
  {% endif %}

  {% if post.img != None %}
    <div class="img part">
      <img src="{{ url_for('.static', filename='img/' + post.img) }}" class="center">
    </div>
  {% endif %}

</div>