{% extends 'layout.html' %}

{% block content %}


  <div class="wrapper">
    <div class="block">
      <div class="part">
        <h2>Make a note</h2>
        <form id="new-post" action="/send-post/" method="post" enctype="multipart/form-data">
          <div class="form-group">
              <textarea id="new-post-text" name="content" class="form-control" rows="5"
                        style="resize: none;"></textarea>
          </div>
          <div>
            <button type="submit" class="btn btn-default inline-block">Submit</button>
            <div class="inline-block inputfile">
              <input type="file" id="img" name="img">
              <label class="btn btn-default" for="img">Choose an image</label>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="block">
      <div class="what-show part">
        <div style="margin-bottom: 10px">
          <h4 class="inline-block">Choose rank</h4>

          <div style="float: right;">
            <div class="form-group inline-block">
              <h4 style="margin-right: 10px">And count of days</h4>
            </div>
            <div class="form-group inline-block">
              <input id="count-days" type="text" class="form-control" value="{{ count_days }}">
            </div>
          </div>
        </div>

        <div class="btn-group rank-btns">
          <button id="show-0" type="button" class="btn btn-success {% if rank == 0 %}active{% endif %}">
            <div сlass="text">{{ ranks[0] }}</div>
            <div сlass="stars">
              <span class="glyphicon glyphicon-star"></span>
            </div>
          </button>
          <button id="show-1" type="button" class="btn btn-success {% if rank == 1 %}active{% endif %}">
            <div сlass="text">{{ ranks[1] }}</div>
            <div сlass="stars">
              {% for i in range(2) %}
                <span class="glyphicon glyphicon-star"></span>
              {% endfor %}
            </div>
          </button>
          <button id="show-2" type="button" class="btn btn-success {% if rank == 2 %}active{% endif %}">
            <div сlass="text">{{ ranks[2] }}</div>
            <div сlass="stars">
              {% for i in range(3) %}
                <span class="glyphicon glyphicon-star"></span>
              {% endfor %}
            </div>
          </button>
          <button id="show-3" type="button" class="btn btn-success {% if rank == 3 %}active{% endif %}">
            <div сlass="text">{{ ranks[3] }}</div>
            <div сlass="stars">
              {% for i in range(4) %}
                <span class="glyphicon glyphicon-star"></span>
              {% endfor %}
            </div>
          </button>
          <button id="show-4" type="button" class="btn btn-success {% if rank == 4 %}active{% endif %}">
            <div сlass="text">{{ ranks[4] }}</div>
            <div сlass="stars">
              {% for i in range(5) %}
                <span class="glyphicon glyphicon-star"></span>
              {% endfor %}
            </div>
          </button>
          <button id="show-5" type="button" class="btn btn-success {% if rank == 5 %}active{% endif %}">
            <div сlass="text">{{ ranks[5] }}</div>
            <div сlass="stars">
              {% for i in range(6) %}
                <span class="glyphicon glyphicon-star"></span>
              {% endfor %}
            </div>
          </button>
        </div>
      </div>
    </div>

    {% for post in posts %}
      {% include 'post.html' %}
    {% endfor %}

  </div>


  <script src="{{ url_for('.static', filename='js/textarea-elastic.js') }}"></script>
  <script src="{{ url_for('.static', filename='js/edit-posts.js') }}"></script>
  <script src="{{ url_for('.static', filename='js/show-interesting.js') }}"></script>
  <script src="{{ url_for('.static', filename='js/set-rank.js') }}"></script>

{% endblock %}