{% extends 'layout.html' %}

{% block content %}

  <div class="container">

    <form class="form-reg-log" role="form" method="post" action="/register/">
      <h2>Please sign up</h2>

      <label for="inputUsername" class="sr-only">Username</label>
      <input name="username" type="text" id="inputUsername" class="form-control" placeholder="Username"
             autofocus>

      <div class="collapse bg-danger" id="errorUsername">
        <p>Message</p>
      </div>

      <label for="inputEmail" class="sr-only">Email address</label>
      <input name="email" type="text" id="inputEmail" class="form-control form-mid" placeholder="Email address">

      <div class="collapse bg-danger" id="errorEmail">
        <p>Message</p>
      </div>

      <label for="inputPassword" class="sr-only">Password</label>
      <input name="password" type="password" id="inputPassword" class="form-control form-mid" placeholder="Password">

      <div class="collapse bg-danger" id="errorPassword">
        <p>Message</p>
      </div>

      <label for="confirmPassword" class="sr-only">Confirm password</label>
      <input name="anotherPassword" type="password" id="confirmPassword" class="form-control form-bottom"
             placeholder="Confirm password">

      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
    </form>

  </div>

  <script src="{{ url_for('.static', filename='js/log-reg-validate.js') }}"></script>

{% endblock %}